@model UserFormViewModel

<h2>Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <label>Email:</label>
    <input asp-for="Email" />
    <label>Name:</label>
    @* <input asp-for="Name" />
    <label>Role:</label>
    <input asp-for="Role" /> *@
    <button type="submit">Update</button>
</form>